body{
    margin: 0;
    padding: 0;
    background-image: url("./image/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
@font-face {
    font-family: userlogin;
    src: url(./font/ZenDots-Regular.ttf);
}
@font-face {
    font-family: karantina;
    src: url(./font/Karantina-Regular.ttf);
}
@font-face {
    font-family: Coda;
    src: url(./font/CodaCaption-ExtraBold.ttf);
}
@keyframes userchar {
    from{
        width: 60px;
        height: 90px;
    }
    to{
        width: 66px;
        height: 99px;
        box-shadow: 1px 0px 10px 1px blue;
    }
}
.startcont{
    box-sizing: border-box;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;

}
.userlogo{
    border-radius: 10px;
    box-shadow: 1px 0px 10px 1px blue;
    width: 500px;
    height: auto;
    background-color: black;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.userlogintitle{
    font-family: userlogin;
    text-shadow: 3px 3px 3px  white;
    font-size: 1.3em;
    text-shadow: 2px 2px 5px blue;
    color: white;
    margin-top: 8px;
}

.userlogininput{
    width: 80%;
    color: white;
    padding: 8px;
    border-radius: 8px;
    margin-top: 5px;
    box-shadow: 1px 0px 10px 1px white;
    font-family: userlogin;
    
}
.userlogincondition{
    margin: 10px;
    color: red;
    display: flex;
    width: 95%;
    font-family: coda;
    font-size: 0.5em;
    position: relative;
}
.backspace{
    width: auto;
    height: 20px;
    color: rgb(47, 0, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.backicon{
    width: 30px;
    height: 100%;
}
.icon1{
    margin-left: 5px;
}
.backicon:hover{
    box-shadow: 1px 0px 10px 1px blue;
    cursor: pointer;
}



.condition{
    text-align: right;
    width: 100%;
    float: right;
}

.userchar{
    color: white;
    width: 95%;
    height: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.a{
    border: 1px solid blue;
    width: 60px;
    height: 90px;
    border-radius: 5px;
    margin: 5px;
    background-color: rgba(211, 211, 211, 0.5);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    align-self: center;
    justify-self: center;
    color: blue;
    font-weight: bold;
}
.a:hover{
    cursor: pointer;
    animation: userchar 200ms;
    animation-fill-mode: forwards;
}
.userstartbtn{
    min-width: 100px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(135, 206, 250, 0.836);
    margin: 20px;
    font-family: coda;
}
.userstartbtn:hover{
    box-shadow: 1px 0px 10px 1px blue;
    cursor: pointer;
}
















.logo{
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 4em;
    font-family: Coda;
}

.container{
    border: 1px solid red;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.clearfix::after{
    content: "";
    clear: both;
}



img{
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 60px;
    
}
